{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <p>На данной страницы будут отображаться все созданные сниппеты.</p>
        <p>Пока тут пусто, скоро мы это исправим!</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-2">
        Список сниппетов:
        <table>
            <tr><th>Name</th><th>Code</th><th>Lang</th></tr>
            {% for item in items %}
            <tr><td>{{item.name}}</td><td>{{item.code}}</td><td>{{item.lang}}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}